# Data Importing and Cleaning
### Key Steps:

####    1) Import key python libraries for analysis and training/test data
####    2) Ensure data types seem appropriate
####    3) Check for missing/NaN values and correct as needed

    a) Categorical variables:
        set to "NA" if the category has an NA option that has no value counts in the raw data
        set to "missing" if there are NA's in the data, or NA is not an option in the data dictionary
    
    b) Numeric variables:
        Set to 0 for both data that can be confirmed as NA or for missing data.
        If there are already 0's present in the data, a new column was added to distinguish betwee correct 0's and
        imputed 0's. As such, significance of 0's may vary slightly across features and are handled appropriately in EDA and
        modeling sections as needed.
#### 4) Export to CSV for use in other notebooks

###    1) Import key python libraries for analysis and training/test data

In [1]:
#Import main libraries - additional libraries used throughout may be imported as needed within code
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

%matplotlib inline

In [2]:
#import train data
train_full = pd.read_csv("../Data/train.csv")
test_full = pd.read_csv("../Data/test.csv")

In [3]:
train_full.shape

(2051, 81)

In [4]:
test_full.shape

(879, 80)

###    2) Ensure data types seem appropriate

In [3]:
#check current data types - broken into  head and tail of 40 to disply all columns and compared to kaggle data dictionary
train_full.dtypes.head(40)

Id                  int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
Street             object
Alley              object
Lot Shape          object
Land Contour       object
Utilities          object
Lot Config         object
Land Slope         object
Neighborhood       object
Condition 1        object
Condition 2        object
Bldg Type          object
House Style        object
Overall Qual        int64
Overall Cond        int64
Year Built          int64
Year Remod/Add      int64
Roof Style         object
Roof Matl          object
Exterior 1st       object
Exterior 2nd       object
Mas Vnr Type       object
Mas Vnr Area      float64
Exter Qual         object
Exter Cond         object
Foundation         object
Bsmt Qual          object
Bsmt Cond          object
Bsmt Exposure      object
BsmtFin Type 1     object
BsmtFin SF 1      float64
BsmtFin Type 2     object
BsmtFin SF 2      float64
Bsmt Unf SF       float64
Total Bsmt SF     float64
dtype: object

In [4]:
#check current data types - broken into  head and tail of 40 to disply all columns and compared to kaggle data dictionary
train_full.dtypes.tail(40)

Heating QC          object
Central Air         object
Electrical          object
1st Flr SF           int64
2nd Flr SF           int64
Low Qual Fin SF      int64
Gr Liv Area          int64
Bsmt Full Bath     float64
Bsmt Half Bath     float64
Full Bath            int64
Half Bath            int64
Bedroom AbvGr        int64
Kitchen AbvGr        int64
Kitchen Qual        object
TotRms AbvGrd        int64
Functional          object
Fireplaces           int64
Fireplace Qu        object
Garage Type         object
Garage Yr Blt      float64
Garage Finish       object
Garage Cars        float64
Garage Area        float64
Garage Qual         object
Garage Cond         object
Paved Drive         object
Wood Deck SF         int64
Open Porch SF        int64
Enclosed Porch       int64
3Ssn Porch           int64
Screen Porch         int64
Pool Area            int64
Pool QC             object
Fence               object
Misc Feature        object
Misc Val             int64
Mo Sold              int64
Yr Sold              int64
Sale Type           object
SalePrice            int64
dtype: object

###    3) Check for missing/NaN values and correct as needed

In [5]:
# Check for missing values in training and test data
# Split into two cells as not all 81 rows can be viewed at once 
pd.DataFrame(data = [train_full.isnull().sum(),test_full.isnull().sum()], index = ["Train", "Test"]).T.head(41)

                 Train   Test
Id                 0.0    0.0
PID                0.0    0.0
MS SubClass        0.0    0.0
MS Zoning          0.0    0.0
Lot Frontage     330.0  160.0
Lot Area           0.0    0.0
Street             0.0    0.0
Alley           1911.0  821.0
Lot Shape          0.0    0.0
Land Contour       0.0    0.0
Utilities          0.0    0.0
Lot Config         0.0    0.0
Land Slope         0.0    0.0
Neighborhood       0.0    0.0
Condition 1        0.0    0.0
Condition 2        0.0    0.0
Bldg Type          0.0    0.0
House Style        0.0    0.0
Overall Qual       0.0    0.0
Overall Cond       0.0    0.0
Year Built         0.0    0.0
Year Remod/Add     0.0    0.0
Roof Style         0.0    0.0
Roof Matl          0.0    0.0
Exterior 1st       0.0    0.0
Exterior 2nd       0.0    0.0
Mas Vnr Type      22.0    1.0
Mas Vnr Area      22.0    1.0
Exter Qual         0.0    0.0
Exter Cond         0.0    0.0
Foundation         0.0    0.0
Bsmt Qual         55.0   25.0
Bsmt Cond         55.0   25.0
Bsmt Exposure     58.0   25.0
BsmtFin Type 1    55.0   25.0
BsmtFin SF 1       1.0    0.0
BsmtFin Type 2    56.0   25.0
BsmtFin SF 2       1.0    0.0
Bsmt Unf SF        1.0    0.0
Total Bsmt SF      1.0    0.0
Heating            0.0    0.0

In [6]:
pd.DataFrame(data = [train_full.isnull().sum(),test_full.isnull().sum()], index = ["Train", "Test"]).T.tail(40)

                  Train   Test
Heating QC          0.0    0.0
Central Air         0.0    0.0
Electrical          0.0    1.0
1st Flr SF          0.0    0.0
2nd Flr SF          0.0    0.0
Low Qual Fin SF     0.0    0.0
Gr Liv Area         0.0    0.0
Bsmt Full Bath      2.0    0.0
Bsmt Half Bath      2.0    0.0
Full Bath           0.0    0.0
Half Bath           0.0    0.0
Bedroom AbvGr       0.0    0.0
Kitchen AbvGr       0.0    0.0
Kitchen Qual        0.0    0.0
TotRms AbvGrd       0.0    0.0
Functional          0.0    0.0
Fireplaces          0.0    0.0
Fireplace Qu     1000.0  422.0
Garage Type       113.0   44.0
Garage Yr Blt     114.0   45.0
Garage Finish     114.0   45.0
Garage Cars         1.0    0.0
Garage Area         1.0    0.0
Garage Qual       114.0   45.0
Garage Cond       114.0   45.0
Paved Drive         0.0    0.0
Wood Deck SF        0.0    0.0
Open Porch SF       0.0    0.0
Enclosed Porch      0.0    0.0
3Ssn Porch          0.0    0.0
Screen Porch        0.0    0.0
Pool Area           0.0    0.0
Pool QC          2042.0  875.0
Fence            1651.0  707.0
Misc Feature     1986.0  838.0
Misc Val            0.0    0.0
Mo Sold             0.0    0.0
Yr Sold             0.0    0.0
Sale Type           0.0    0.0
SalePrice           0.0    NaN

##### Lot Frontage

In [7]:
# Variety of rows with NaN - given i assume almost all 
# properties are connected to the street, it's unlkely these are meant to be zero
# as such, i assign them zero here but also add a dummy column for missing lot frontage

train_full["Lot Frontage"].fillna(value = 0, inplace = True)
train_full["Missing Lot Frontage"] = train_full["Lot Frontage"].apply(lambda x: 1 if x == 0 else 0)

test_full["Lot Frontage"].fillna(value = 0, inplace = True)
test_full["Missing Lot Frontage"] = train_full["Lot Frontage"].apply(lambda x: 1 if x == 0 else 0)

##### Alley

In [8]:
# Alley has variety of rows that are filled with NaN and because there is no "NA No alley access" option,
# I replace NaNs with that text. No additional dummy variable for alley access needed 
train_full["Alley"].value_counts()

Grvl    85
Pave    55
Name: Alley, dtype: int64

In [9]:
train_full["Alley"].fillna(value = "NA No alley access", inplace = True)
test_full["Alley"].fillna(value = "NA No alley access", inplace = True)

###### Mas Vnr Type and Area:

both have a small subset of NaN entries that align with one another.

None is a separate option already filled in for a variety of columns, so the mising data is not necessarily None.

In the Mas Vnr Type, NaN will be replaced with "Missing" whereas in the Mas Vnr area column, NaNs are replaced with 0's, and a dummy column is added

In [10]:
train_full["Mas Vnr Type"].fillna(value = "Missing", inplace = True)
train_full["Missing Mas Vnr Area"] = train_full["Mas Vnr Type"].apply(lambda x: 1 if x == "Missing" else 0)

test_full["Mas Vnr Type"].fillna(value = "Missing", inplace = True)
test_full["Missing Mas Vnr Area"] = train_full["Mas Vnr Type"].apply(lambda x: 1 if x == "Missing" else 0)

In [11]:
train_full["Mas Vnr Area"].fillna(value = 0, inplace = True)

test_full["Mas Vnr Area"].fillna(value = 0, inplace = True)

##### Basement
Given several basement columns have null values and may be related to each other, replacing nulls done simultaneously to leverage data from other features as available.

In [12]:
#create df of basement data for exploration to help replace missing values
bsmt_df = train_full[["Bsmt Qual", "Bsmt Cond", 
            "Bsmt Exposure", "BsmtFin Type 1", 
            "BsmtFin SF 1", "BsmtFin Type 2", 
            "BsmtFin SF 2", "Total Bsmt SF"]]

bsmt_df_null = bsmt_df.isnull()

In [13]:
#explore cases where Bsmt exposure is null but other columns are not
bsmt_df[(bsmt_df_null["Bsmt Exposure"] == True) & (bsmt_df_null["Bsmt Qual"] == False)]

,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Total Bsmt SF
1456,Gd,TA,NaN,Unf,0.0,Unf,0.0,725.0
1547,Gd,TA,NaN,Unf,0.0,Unf,0.0,1595.0
1997,Gd,TA,NaN,Unf,0.0,Unf,0.0,936.0

In [14]:
#explore cases where many basement columns are NaN
bsmt_df[(bsmt_df_null["Bsmt Exposure"] == True) & (bsmt_df_null["Bsmt Qual"] == True)]

,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Total Bsmt SF
12,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
93,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
114,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
146,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
183,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
240,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
249,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
256,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
390,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
437,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
485,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
499,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
514,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
580,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
581,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
616,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
635,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
642,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
696,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
700,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
737,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
772,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
790,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
794,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
924,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
933,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
954,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1007,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1022,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1049,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1089,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1098,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1125,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1157,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1211,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1222,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1252,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1256,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1270,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1377,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1387,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1428,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1481,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1594,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1620,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1681,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1684,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1686,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1859,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1875,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1889,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
1933,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
2010,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0

In [15]:
#use value counts to determine if any options are not being used

train_full["Bsmt Qual"].value_counts()

TA    887
Gd    864
Ex    184
Fa     60
Po      1
Name: Bsmt Qual, dtype: int64

In [16]:
# First, in cases wher eonly exposure is null, replace NaN with "missing"

train_full.loc[[1456,1547,1997],"Bsmt Exposure"].fillna(value = "Missing", inplace=True)

#fill remaining object columns with "NA No Basement" and int/float columns with 0

train_full["Bsmt Qual"].fillna(value = "NA", inplace=True)
train_full["Bsmt Cond"].fillna(value = "NA", inplace=True)
train_full["Bsmt Exposure"].fillna(value = "NA", inplace=True)
train_full["BsmtFin Type 1"].fillna(value = "NA", inplace=True)
train_full["BsmtFin Type 2"].fillna(value = "NA", inplace=True)

test_full["Bsmt Qual"].fillna(value = "NA", inplace=True)
test_full["Bsmt Cond"].fillna(value = "NA", inplace=True)
test_full["Bsmt Exposure"].fillna(value = "NA", inplace=True)
test_full["BsmtFin Type 1"].fillna(value = "NA", inplace=True)
test_full["BsmtFin Type 2"].fillna(value = "NA", inplace=True)

train_full["BsmtFin SF 2"].fillna(value = 0, inplace=True)
train_full["BsmtFin SF 1"].fillna(value = 0, inplace=True)
train_full["Bsmt Unf SF"].fillna(value = 0, inplace=True)

test_full["BsmtFin SF 1"].fillna(value = 0, inplace=True)
test_full["BsmtFin SF 2"].fillna(value = 0, inplace=True)

train_full["Total Bsmt SF"].fillna(value = 0, inplace=True)
test_full["Total Bsmt SF"].fillna(value = 0, inplace=True)

##### Electrical

In [17]:
#replace singular "electrical" column with missing data
test_full["Electrical"].fillna(value = "Missing", inplace=True)

##### Bsmt Full Bath

In [18]:
# missing "Bsmt Full Bath" data is for units with no basement, and nulls will be replaced by 0
train_full[train_full["Bsmt Full Bath"].isnull() == True][["Bsmt Full Bath", "Bsmt Half Bath", "Bsmt Qual"]]

train_full["Bsmt Full Bath"].fillna(value = 0, inplace = True)
train_full["Bsmt Half Bath"].fillna(value = 0, inplace = True)

##### Fireplace

In [19]:
#missing fireplace quality data is due to having no fireplace
train_full[train_full["Fireplace Qu"].isna() == True][["Fireplaces", "Fireplace Qu"]]

      Fireplaces Fireplace Qu
0              0          NaN
2              0          NaN
3              0          NaN
4              0          NaN
6              0          NaN
...          ...          ...
2034           0          NaN
2038           0          NaN
2039           0          NaN
2044           0          NaN
2047           0          NaN

[1000 rows x 2 columns]

In [20]:
#replace Fireplace Qu NaN with "NA"

train_full["Fireplace Qu"].fillna(value = "NA", inplace=True)
test_full["Fireplace Qu"].fillna(value = "NA", inplace=True)

##### Garage data

Similar to basement missing data, various garage related features have missing data and are cleaned simultaneously to leverage data from other columns

In [21]:
#create df of garage data for exploration to help replace missing values
garage_df = train_full[["Garage Type", "Garage Yr Blt", 
            "Garage Finish", "Garage Cars", 
            "Garage Area", "Garage Qual", 
            "Garage Cond"]]

garage_df_null = garage_df.isnull()

In [22]:
garage_df[(garage_df_null["Garage Type"] == False) & (garage_df_null["Garage Finish"] == True)]

,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond
1712,Detchd,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
garage_df1 = test_full[["Garage Type", "Garage Yr Blt", 
            "Garage Finish", "Garage Cars", 
            "Garage Area", "Garage Qual", 
            "Garage Cond"]]

garage_df_null1 = garage_df1.isnull()
garage_df1[(garage_df_null1["Garage Type"] == False) & (garage_df_null1["Garage Finish"] == True)]

,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond
765,Detchd,NaN,NaN,1.0,360.0,NaN,NaN

In [24]:
#replace above select NaNs with "Missing" or 0 since each has a garage
train_full.loc[1712,"Garage Yr Blt"] = 0
train_full.loc[1712,"Garage Finish"] = "Missing"
train_full.loc[1712,"Garage Cars"] = 0
train_full.loc[1712,"Garage Area"] = 0
train_full.loc[1712,"Garage Qual"] = "Missing"
train_full.loc[1712,"Garage Cond"] = "Missing"

test_full.loc[765,"Garage Yr Blt"] = 0
test_full.loc[765,"Garage Finish"] = "Missing"
test_full.loc[765,"Garage Cars"] = 0
test_full.loc[765,"Garage Area"] = 0
test_full.loc[765,"Garage Qual"] = "Missing"
test_full.loc[765,"Garage Cond"] = "Missing"

In [25]:
#replace all other NaN's with NA and "0" as these don't have garages

train_full["Garage Type"].fillna(value = "NA", inplace = True)
train_full["Garage Yr Blt"].fillna(value = 0, inplace = True)
train_full["Garage Finish"].fillna(value = "NA", inplace = True)
train_full["Garage Cars"].fillna(value = 0, inplace = True)
train_full["Garage Area"].fillna(value = 0, inplace = True)
train_full["Garage Qual"].fillna(value = "NA", inplace = True)
train_full["Garage Cond"].fillna(value = "NA", inplace = True)

test_full["Garage Type"].fillna(value = "NA", inplace = True)
test_full["Garage Yr Blt"].fillna(value = 0, inplace = True)
test_full["Garage Finish"].fillna(value = "NA", inplace = True)
test_full["Garage Cars"].fillna(value = 0, inplace = True)
test_full["Garage Area"].fillna(value = 0, inplace = True)
test_full["Garage Qual"].fillna(value = "NA", inplace = True)
test_full["Garage Cond"].fillna(value = "NA", inplace = True)

##### Pool

In [26]:
# all Pool QC columns with missing data signal no pool
train_full[train_full["Pool QC"].isnull() == True][["Pool Area", "Pool QC"]].sum()

Pool Area    0.0
Pool QC      0.0
dtype: float64

In [27]:
#Replace NaN with "NA"
train_full["Pool QC"].fillna(value = "NA", inplace = True)
test_full["Pool QC"].fillna(value = "NA", inplace = True)

##### Fence

In [28]:
#all NaNs in "Fence" are due to property not having a fence
train_full["Fence"].value_counts()

MnPrv    227
GdPrv     83
GdWo      80
MnWw      10
Name: Fence, dtype: int64

In [29]:
# replace NaNs with "NA"
train_full["Fence"].fillna(value = "NA", inplace = True)
test_full["Fence"].fillna(value = "NA", inplace = True)

##### Misc Feature

In [30]:
#Misc feature columns missing values signal no feature
train_full["Misc Feature"].value_counts()

Shed    56
Gar2     4
Othr     3
TenC     1
Elev     1
Name: Misc Feature, dtype: int64

In [31]:
train_full["Misc Feature"].fillna(value = "NA", inplace = True)
test_full["Misc Feature"].fillna(value = "NA", inplace = True)

### 4) Export Clean Dataframes to CSV

In [33]:
train_full.to_csv("../Data/train_full_clean.csv")
test_full.to_csv("../Data/test_full_clean.csv")